<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script defer>
        let stripePublicKey = '<%= stripePublicKey %>';
    </script>
    <script src="stripe.js" defer></script>
    <title>Document</title>
</head>
<body>
    <button id="checkout-button">Pay</button>
</body>
</html>